<h1>Announcement</h1>

<ul>
  {{#each model as |announcement|}}
    <button {{action 'announcementToggle' announcement}}></button>
    <h3>Title: {{announcement.title}} - {{announcement.creationDate}}</h3>
    {{#if announcementShowing}}
      {{announcement-tile announcement=announcement}}
    {{/if}}
  {{/each}}
</ul>
